html    {
    font-size: 20px;
    color: white;
    font-family: 'Ubuntu', sans-serif, arial, sans-serif ;
}
h1 {
    font-size: 5rem;
    font-weight: bold;
}
h2 {
    font-size: 2.5rem;
    font-weight: bold;
}
h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
}
::selection {
    background-color: black;
    color: white;
    text-shadow: 1px 1px  rgba(24, 209, 255, 0.712);
}
/* ===================header======================= */
header {
    min-height: 70vh;
    background-color: #6888b1;
    padding: 0 1rem;
}

.header-container {
    max-width: 1174px;
    margin: 0 auto;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.header-nav {
    flex: 0 1 24rem;
    align-self: center;
    font-size: 1.25rem;
    margin-left: 2rem;
}
.header-nav ul{
    display: flex;
    justify-content: space-between;
}
.header-nav a {
    text-decoration: none;
    color: white;
}
/* --------------------------------------------------*/
.header-main {
    margin: 0 auto;
    max-width: 1174px;
    padding: 6.7rem 0 0.5rem 0;
    text-align: center;
    position: relative;
}
.header-main > p {
    font-size: 1.5rem;
    margin: 3rem auto 0 auto;
    max-width: 27rem;
}
.header-main::after {
    content: "";
    position: absolute;
    background-image: url(../img/Shape2.png);
    background-repeat: no-repeat;
    z-index: 1;
    height:11rem;
    width: 4rem;
    right: 0;
    bottom: -4rem;
}
/* ======================main=========================== */
main {
    position: relative;
    background-image: url(../img/ShapeSkew.png), url(../img/ShapeSpot.png), url(../img/BlueDots.png);
    background-color: #e0edc1;
    background-repeat:  no-repeat;
    background-position: top -1rem right 4rem, top -25rem right -17rem, right 2rem top 58rem;
    padding: 20rem 0rem 0rem 0rem;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
}
.popular-menu::before {
    content: "";
    position: absolute;
    background-image: url(../img/Shape.png);
    background-repeat: no-repeat;
    z-index: 1;
    height:5.3rem;
    width: 9rem;
    left: 3rem;
    top: -5rem;
}

.popular-menu {
    position: relative;
    margin: 0 auto;
    max-width: 1174px;
    padding-bottom: 7.5rem;
}
.popular-menu > h2 {
    color: #6888b1;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5rem;
}
/* --------------------Menu---------------------------- */
.article-content {
    display: flex;
    justify-content: space-around;
    gap: 0.7rem;
    flex-wrap: wrap;
    color: #4f4e4e;
}
.article-content > section {
    flex: 0 1;
    padding-bottom: 1.6rem;
    background-color: white;
    transition: 1s;
}
.article-content > section:hover {
    box-shadow: 0 0 15px 4px rgb(90, 90, 90);
    transform: scale(1.05);
}
.article-content > section span{
    font-size: 1.5rem;
}
.article-content > section img ~*{
    padding-left: 1rem;
}
.article-content > section img {
    height: 301px;
}
.article-content  h3 {
    margin: 0.5rem 0 1.6rem;
}
.article-content  p {
    margin-bottom: 1.6rem;
}
/* buttons */
.show-more, .read-more {
    display: block;
    background-color: #6888b1;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 1.4rem 4rem;
    border-radius: 2rem;
    border: none;
    transition: 0.6s;
}
.show-more {
    margin: 5rem auto 0 auto;
}
.show-more:hover, .read-more:hover {
    box-shadow: 0 0 30px 4px rgb(90, 90, 90);
    transform: scale(1.1);
}
.show-more:active, .read-more:active {
    box-shadow: 0 0 15px 4px rgb(90, 90, 90);
    transform: scale(1);
}
/* ==========================offers=========================*/
.offers {
    margin: 0 auto;
    max-width: 1440px;
    color: #303030;
    position: relative;
}
.offers::before {
    content: "";
    position: absolute;
    background-image: url(../img/BlueDots.png);
    background-repeat: no-repeat;
    z-index: 1;
    height:5.3rem;
    width: 9rem;
    left: 15rem;
    top: 36.5rem;
}
.offers::after {
    content: "";
    position: absolute;
    background-image: url(../img/WhiteDots3.png);
    background-repeat: no-repeat;
    z-index: 1;
    height:5.3rem;
    width: 9rem;
    right: 7rem;
    bottom: -2.8rem;
}
.offers h2 {
    font-size: 3rem;
    margin-bottom: 2.5rem;
}
.offers p {
    font-size: 1.5rem;
    margin-bottom: 2.8rem;
}
.offers > section {
    display: flex;
}
.offers > section div {
    flex: 1 1 720px;
}
.offers > section img {
    width: 720px;
}
.discount-container {
    padding: 10rem 0 0 2.5rem;
    background-color: rgb(255, 253, 231);
}
.offers > section:last-child > div:first-child {
    padding: 10rem 0 0 7rem;
    background-color: rgb(255, 253, 231);
}
/* =======================how to ordered =======================*/
.orders-wrapper {
    background-color: #6888b1;
}
.orders {
    margin: 0 auto;
    max-width: 1174px;
}
.orders h2 {
    padding: 5rem 0rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5rem;
}
.orders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.orders-container section {
    flex: 0 1 380px;
}
.orders-container > section div {
    font-size: 2.5rem;
    font-weight: bold;
    color: #6888b1;
    background-color: white;
    margin: 0 auto 2.5rem auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: relative;
}
.orders-container > section div > span {
    position: relative;
    top: 17%;
    left: 32%;
}
.orders-container h3 {
    font-size: 2.2rem;
    padding-bottom: 2rem;
    text-align: center;
}
.orders-container p {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 6.25rem;
}
/* =========================footer==========================*/
.icon:hover{
    fill: rgb(220, 20, 30);
    cursor: pointer;
    background-color: rgb(52, 43, 175);
}
.icon{
    fill: rgb(241, 241, 241);
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: rgb(51, 36, 187);
    border-radius: 50%;
}



/* ============================================== */
@media (min-width: 200px) and (max-width: 600px) {
    /* Свойства применяются в пределах от меньшего к большему. */
}

@media (orientation: portrait) {
    /* Если высота экрана больше ширины, свойство применяется */
}
@media (orientation: landscape) {
    /* Если ширина экрана больше высоты, свойство применяется */
}
@import url("main.css") (min-width:481px) and (max-width:768px); 
/* импортируем содержимое файла css, который предназначается для устройств с 
разрешением экрана, находящегося в диапозоне от 481 пикселей до 768 пикселей */


/*  320px — 480px: мобильные устройства;
    481px — 768px: планшеты;
    769px — 1024px: маленькие экраны, ноутбуки;
    1025px — 1200px: большие экраны;
    1201px и больше —  очень большие экраны, телевизоры. */


    /* для поддержки старых версий браузера Mozilla */
@-moz-keyframes growElement { 
	/* ключевые кадры */
}

/* для поддержки старых версий браузеров Chrome, Opera, Safari */
@-webkit-keyframes growElement { 
	/* ключевые кадры */
}
/* браузер Internet Explorer. */
@-ms-keyframes growElement { 
	/* ключевые кадры */
}
