html    {
    font-size: 20px;
    color: white;
    font-family: 'Ubuntu', sans-serif, arial, sans-serif ;
}
h1 {
    font-size: 5rem;
    font-weight: bold;
}
h2 {
    font-size: 2.5rem;
    font-weight: bold;
}
p {
    font-family: 'Lato', sans-serif;
}
::selection {
    background-color: black;
    color: white;
    text-shadow: 1px 1px  rgba(24, 209, 255, 0.712);
}
/* ===================header======================= */
header {
    min-height: 70vh;
    background-color: #6888b1;
    padding: 0 1rem;
}

.header-container {
    max-width: 1174px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header-nav {
    flex: 0 1 24rem;
    align-self: center;
    font-size: 1.25rem;
    margin-left: 2rem;
}
.header-nav ul{
    display: flex;
    justify-content: space-between;
}
/* ======================= */
.header-main {
    margin: 0 auto;
    max-width: 1174px;
    padding: 6.7rem 0 0.5rem 0;
    text-align: center;
    position: relative;
}
.header-main > p {
    font-size: 1.5rem;
    margin: 3rem auto 0 auto;
    max-width: 27rem;
}
.header-main::after {
    content: "";
    position: absolute;
    background-image: url(../img/Shape2.png);
    background-repeat: no-repeat;
    z-index: 1;
    height:11rem;
    width: 4rem;
    right: 0;
    bottom: -4rem;
}
/* ======================main=========================== */
main {
    position: relative;
    background-image: url(../img/ShapeSkew.png), url(../img/ShapeSpot.png);
    background-color: #e0edc1;
    background-repeat:  no-repeat;
    background-position: top -1rem right 4rem, top -25rem right -17rem;
    padding-top: 20rem;
}
.wave {
    position: absolute;
    top: 0;
    left: 0;
}
.article-top::before {
    content: "";
    position: absolute;
    background-image: url(../img/Shape.png);
    background-repeat: no-repeat;
    z-index: 1;
    height:5.3rem;
    width: 9rem;
    left: 3rem;
    top: -5rem;
}
.article-top {
    position: relative;
    margin: 0 auto;
    max-width: 1174px;
}
.article-top > h2 {
    color: #6888b1;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5rem;
}
.article-content {
    display: flex;
    justify-content: space-between;
    gap: 0.7rem;
    flex-wrap: wrap;
}



/* =========================bottom ==========================*/
.icon:hover{
    fill: rgb(220, 20, 30);
    cursor: pointer;
    background-color: rgb(52, 43, 175);
}
.icon{
    fill: rgb(241, 241, 241);
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: rgb(51, 36, 187);
    border-radius: 50%;
}



/* ============================================== */
@media (min-width: 200px) and (max-width: 600px) {
    /* Свойства применяются в пределах от меньшего к большему. */
}

@media (orientation: portrait) {
    /* Если высота экрана больше ширины, свойство применяется */
}
@media (orientation: landscape) {
    /* Если ширина экрана больше высоты, свойство применяется */
}
@import url("main.css") (min-width:481px) and (max-width:768px); 
/* импортируем содержимое файла css, который предназначается для устройств с 
разрешением экрана, находящегося в диапозоне от 481 пикселей до 768 пикселей */


/*  320px — 480px: мобильные устройства;
    481px — 768px: планшеты;
    769px — 1024px: маленькие экраны, ноутбуки;
    1025px — 1200px: большие экраны;
    1201px и больше —  очень большие экраны, телевизоры. */


    /* для поддержки старых версий браузера Mozilla */
@-moz-keyframes growElement { 
	/* ключевые кадры */
}

/* для поддержки старых версий браузеров Chrome, Opera, Safari */
@-webkit-keyframes growElement { 
	/* ключевые кадры */
}
/* браузер Internet Explorer. */
@-ms-keyframes growElement { 
	/* ключевые кадры */
}
